<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/E-bike rental system/src/main/java/com/team15/ebrs/view/BikeInfoPanel.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.java.com.team15.ebrs.view.BikeInfoPanel"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="E-bike rental system"/>
</launchConfiguration>
